@import url('https://fonts.googleapis.com/css?family=Handlee|Patrick+Hand');
@import url('https://fonts.googleapis.com/css?family=Neucha');
body{
	text-align: center;
	font-family: 'Handlee';
}

p{
	color: black;
}
h1{ 
	font-size: 24px;
	text-decoration: none;
	font-family: 'Patrick Hand';
}
h2{
	font-style:normal;
font-style:normal;
}
h3{
	font-weight:400;
}

header {
    background-color: red;
    border: 1px black solid;
    padding: 20px;
}
#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}